<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/avatars/<%= bot.user.id %>/<%= bot.user.avatar %>" />

    <title><%= bot.user.username %> - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                <img src="https://cdn.discordapp.com/avatars/<%= bot.user.id %>/<%= bot.user.avatar %>" alt="" width="50">
                </div>
                <div class="sidebar-brand-text mx-3"><%= bot.user.username %></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-home"></i>
                    <span>Accueil</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profil">
                    <i class="fas fa-users"></i>
                    <span>Profil</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/serveur">
                    <i class="fas fa-server"></i>
                    <span>Serveurs</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            
            <div class="sidebar-heading">
                Commandes
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Anti-Raid</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                    <div class="bg-light py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Fonctionnalités</h6>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/addbot">AddBot</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/everyone">Everyone</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/link">Links</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/spam">Spam</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/massban">MassBan</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/masskick">MassKick</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/webhook">Webhooks</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/channelcreate">ChannelCreate</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/channeldelete">ChannelDelete</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Modération</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-light py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Fonctionnalités</h6>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/ban">Ban</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/kick">Kick</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/mute">Mute</a>
                        <a class="collapse-item" href="/serveur/<%= guild.id %>/warns">Warns</a>
                    </div>
                </div>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars text-danger"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <% if(user && user.id){ %>
                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= user.username %></span>
                                    <%- user.avatar ? `<img src="https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}" class="img-profile rounded-circle">` : `<img src="/img/profileLogoNotFound.svg" class="img-profile rounded-circle">` %>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="/profil">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profil
                                    </a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#settingsModal">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Paramètres
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Déconnexion
                                    </a>
                                </div>
                            </li>
                        <% }else {  %>
                            <a href="/login" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-user-alt"></i>
                                </span>
                                <span class="text">Login</span>
                            </a>
                        <%  } %>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <form method="post">

                        <!-- Page Heading -->
                        <div class="row">
                            <div class="col-6">
                                <h1 class="h3 mb-2 text-gray-800">Configuration du serveur : <%= guild.name %></h1>
                                <p class="mb-4"><%= fonction['dashMessage']%></p>
                            </div>
                            <div class="col-6" style="text-align: end;">
                                <div class="form-check form-switch">
                                    <% if(status == true) { %>
                                        <input class="form-check-input" style="width: 3.4em; height: 1.9em;" type="checkbox" name="switch" role="switch" id="flexSwitchCheckDefault" checked>
                                    <% } else { %>
                                        <input class="form-check-input" style="width: 3.4em; height: 1.9em;" type="checkbox" name="switch" role="switch" id="flexSwitchCheckDefault">
                                    <% } %>
                                    <button type="submit" class="ml-4 btn btn-danger">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card shadow mb-4 border-bottom-danger">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-danger">Whitelist</h6>
                                            </div>
                                            <div class="card-body">
                                                <select style="width:100%" class="form-select" id="roles" multiple="true" name="roles">
                                                    <% guild.roles.cache.filter(role => {
                                                        return role.name != "@everyone"
                                                    }).sort((a, b) => {
                                                        return b.position - a.position
                                                    }).forEach(role => {
                                                        if (whitelist.includes(role.id)) {%>
                                                            <option selected="selected" value="<%= role.id %>"><%= role.name %></option>
                                                        <% } else { %>
                                                            <option value="<%= role.id %>"><%= role.name %></option>
                                                        <% } %>
                                                    <% }) %>
                                                </select>
                                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous"
                                                referrerpolicy="no-referrer" />

                                                <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
                                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
                                                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                                                <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
                                                <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
                                                <script>
                                                    function format(roles) {
                                                                if (!roles.id) return roles.text; // optgroup
                                                                return roles.text;
                                                            }
                                                        
                                                    $("#roles").select2({
                                                        placeholder: "Sélectionner les rôles à whitelist",
                                                        allowClear: true,
                                                        formatResult: format,
                                                        formatSelection: format
                                                    });
                                                </script>
                                                <hr>
                                                Rôles ignoré par la sanction.
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-12">
                                        <div class="card shadow mb-4 border-bottom-danger">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-danger">Sanction</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-check">
                                                    <% if(sanction == "ban") { %>
                                                        <input class="form-check-input" type="radio" name="sanction" id="sanction1" value="ban" checked>
                                                    <% } else { %>
                                                        <input class="form-check-input" type="radio" name="sanction" id="sanction1" value="ban">
                                                    <% } %>
                                                    <label class="form-check-label" for="sanction1">
                                                        Ban
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <% if(sanction == "kick") { %>
                                                        <input class="form-check-input" type="radio" name="sanction" id="sanction2" value="kick" checked>
                                                    <% } else { %>
                                                        <input class="form-check-input" type="radio" name="sanction" id="sanction2" value="kick">
                                                    <% } %>
                                                    <label class="form-check-label" for="sanction2">
                                                        Kick
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <% if(sanction == "mute") { %>
                                                        <input class="form-check-input" type="radio" name="sanction" id="sanction3" value="mute" checked>
                                                    <% } else { %>
                                                        <input class="form-check-input" type="radio" name="sanction" id="sanction3" value="mute">
                                                    <% } %>
                                                    <label class="form-check-label" for="sanction3">
                                                        Mute
                                                    </label>
                                                </div>
                                                <hr>
                                                Sanction à appliquer au membre en infraction.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card shadow mb-4 border-bottom-danger">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-danger">Compteur</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-floating mb-3">
                                                    <%- `<input type="number" class="form-control" id="floatingInput" value="${times}" name="times">`%>
                                                    <label for="floatingInput">Nombre de tentative</label>
                                                </div>
                                                <hr>
                                                Nombre de tentative avant d'être compté comme en infraction.
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-12">
                                        <div class="card shadow mb-4 border-bottom-danger">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-danger">Durée</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-floating mb-3">
                                                    <%- `<input type="number" class="form-control" id="floatingInput" value="${duration}" name="duration">`%>
                                                    <label for="floatingInput">Durée en seconde</label>
                                                </div>
                                                <hr>
                                                Durée avant que le compteur de tentative du membre ne soit réinitialiser.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; <%= bot.user.username %> 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Vous nous quitté</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Sélectionne "Déconnexion" si vous voulez mettre fin à la session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger" href="/logout">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Paramètres</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bientôt disponible ...</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger" href="#">Sauvegarder</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>